.entryList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entryCard {
    background-color: burlywood;
    margin: 2em;
    padding: 2em;
    border-radius: 20px;
    width: 50vw;
}

.deleteEntryBtn {
    padding: 0.7em;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    background-color: darkred;
    color: white;
}

.deleteEntryBtn:hover {
    background-color: firebrick;
}
