.entryForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    height: fit-content;
    width: fit-content;
    padding: 1em 3em;
}
  
.field {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 1em;
}

#journalEntryBtn {
  width: fit-content;
  padding: 0.5em;
  font-size: 1em;
  margin: 1em;
}

.entryForm__entry {
  height: 100px;
  resize: none;
}