@import "./form.css";
@import "./entries.css";
@import "./navbar.css";

body {
  margin: 0;
  font-family: "Roboto", "Open Sans", sans-serif;
  background-color: rgb(253, 234, 209);
}

.copyright {
  font-size: 0.75em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

